* {
  margin: 0;
  padding: 0;
}

/*
$ff: Ubuntu, sans-serif;
$fz: 18px;
$bnt-color: #0a6e9a;
*/

@mixin text {
  font-family: Ubuntu, sans-serif;
  font-size: 18px;
  color: #263238; 
}

@mixin title {
  font-family: Raleway Black, sans-serif;
  font-size: 44px;
  text-transform: uppercase;
  line-height: 60px;
}

@mixin btn {
  background-color: #0a6f9a;
  color: #fff;
  box-shadow: 0 14px 51px rgba(36, 70, 115, 0.5);
  border-radius: 6px;
}

.btn {
  background-color: #0a6f9a;
  color: #fff;
  box-shadow: 0 14px 51px rgba(36, 70, 115, 0.5);
  border-radius: 6px;
}

.paragraph {
  font-size: 24px;
  line-height: 36px;
  color: #263238;
  font-weight: normal;
}

/*style*/

body {
  font-family: Ubuntu, sans-serif;
  font-size: 18px;
  background-color: #fff;
  color: #000; 
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

body a {
  text-decoration: none;
  color: #fff;
}

header {
  background-color: #0fa2cc;
  color: #fff;
  min-height: 740px;
  

  .logo {
    display: inline-block;;
    margin-left: 100px;
    margin-top: 65px;
  }
  
  article {
    max-width: 1049px;
    margin: 245px auto 0 auto;
    text-align: center;
    
    @media screen and (max-width: 640px) {
      margin: 70px auto 0 auto;
    }
    
    h1 {
      @include title;
      margin-bottom: 36px; 
    }
    
    p {
      font-size: 24px;
      line-height: 36px;
      font-weight: 300;
      margin-bottom: 61px;
    }
  }
}

.authorization {
  float: right;
  margin-top: 58px;
  
  @media screen and (max-width: 650px) {
    float: none;
    text-align: center;
    
    a:first-child {
      margin-right: 10px;
    }
  }
  
  
  a {
    display: inline-block;
    padding: 24px 45px;
    text-transform: uppercase;
    transition-duration: 0.7s;
    
    
    &:hover {
      @include btn;
      transition-duration: 0.7s;
    }
  }
}

.button a {
  position: relative;
  display: inline-block;
  padding: 24px 35px 24px 84px;
  @extend .btn;
  margin-bottom: 116px;
  margin-right: 6.38703527169%; /*67/1049*/
  transition-duration: 0.7s;
  animation-name: slide;
  &::before {
    position: absolute;
    content: "";
    display: table;
    width: 38px;
    height: 35px;
    top: 13px;
    left: 30px;
    background-image: url(../img/ios.svg);
    background-repeat: no-repeat;
  } 
  &:last-child::before {
      background-image: url(../img/android.svg);
    }
  &:hover {
    transform: scale(1.1);
    transition-duration: 0.7s;
  }
}

.services {
  min-height: 423px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  
  div {
    flex-basis: 280px;
    margin-right: 30px;
    margin-bottom: 55px;
    margin-top: 150px;
    max-width: 370px;
    position: relative;
    
            
    &::before {
      position: absolute;
      content: "";
      display: table;
      width: 65px;
      height: 58px;
      top: -80px;
      left: 0;
      background-image: url(../img/crown.png);
      background-repeat: no-repeat;
    }
    
    &:nth-child(2)::before {
      background-image: url(../img/bug1.png);
    }
    
    &:nth-child(3)::before {
      background-image: url(../img/virus_free1.png);
    }
    
    &:last-child {
      margin-right: 0;
    }
    
    h3 {
      font-size: 24px;
      color: #263238;
      font-weight: bold;
      margin-bottom: 30px;
    }
    
    
    p {
      @include text;
      line-height: 27px;
    }
  }
  
  @media screen and (max-width: 640px) {
      flex-direction: column;
      
    div {
      text-align: center;
      width: 450px;
      margin: 100px auto;
      margin-bottom: 5px;
      flex-basis: 20px;
      
      &::before {
        top: -65px;
        left: 160px;
      }
      
      &:last-child {
      margin-right: auto;
      margin-bottom: 45px;
      }
    }
  }
  
}


.advantages-block {
  background-color: #e4f1fe;
  text-align: center;
  
  .wrapper {
    padding-top: 86px;
    
    > p{
    @extend .paragraph;
    max-width: 1000px;
    margin: 0 auto 54px auto;
  }
  }
  
  h2 {
    @include title;
    margin-bottom: 40px;
  }
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  img {
    margin-left: 6.923076923077%; /*90/1300*100*/
    margin-right: 6.923076923077%;
    margin-bottom: 90px;
  }
  
  > div {
    box-sizing: border-box;
    max-width: 270px;
    padding: 25px;
  }
}

.left-block div:first-child,
.right-block div:first-child {
  margin-bottom: 156px;
}

.left-block div,
.right-block div {
  position: relative;
  
  
  h3 {
    font-size: 24px;
    color: #263238;
    font-weight: bold;
  }
  
  
  p {
    @include text;
    line-height: 27px;
  }
  
  
  &::before {
    position: absolute;
    content: "";
    width: 29px;
    height: 25px;
    top: -35px;
    left: 45%;
    background-repeat: no-repeat;
  }
}

.adv1::before {
  background-image: url("../img/lock1.png");
}

.adv2::before {
  background-image: url("../img/upload_to_cloud.png");
}

.adv3::before {
  background-image: url("../img/Layer%208.png");
}

.adv4::before {
  background-image: url("../img/ratings.png");
}

.test {
  
  .wrapper {
        
    &::after {
    content: "";
    display: table;
    clear: both;
  }
  }
  
  
  img {
    max-width: 100%;
    float: right;
    margin-top: 80px;
    background-image: url("../img/test-phone.jpg");
    background-position: center;
    background-repeat: no-repeat;
    
    @media screen and (max-width: 745px) {
      float: none;
      display: block;
      margin: 80px auto 0 auto;
    }
    }
  
    
  
  h2{
    max-width: 580px;
    padding-top: 228px;
    @include title;
    font-weight: bold;
    margin-bottom: 40px;
    margin-right: 50%;
    
    @media screen and (max-width: 745px) {
      display: block;
      padding-top: 28px;
      margin: 0 auto;
      clear: both;
    }
  }
  
  p {
    
    max-width: 540px;
    @extend .paragraph;
    margin-bottom: 60px;
  }
  
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.video {
  
  background-color: #f8f8f8;
  
  .wrapper {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  
//  padding: 81px  145px  90px 145px;
  
  h2 {
    @include title;
    max-width: 960px;
    margin-top: 82px;
  }
  
  p {
    @extend .paragraph;
    max-width: 790px;
    margin-bottom: 41px;
  }
  
  video {
    max-width: 100%;
    margin-bottom: 90px;
  }
  
  }  
}

.testimonials {
  
  .wrapper {
  
  h2 {
    @include title;
    text-align: center;
    margin-bottom: 35px;
  }
  
  > p {
    @extend .paragraph;
    text-align: center;
    }
  }
}

.all-say {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 70px;
  
  > div {
    max-width: 360px;
    position: relative;
    border: 1px solid #efefef;
    border-radius: 10px;
    padding: 69px 30px 25px 30px;
    box-sizing: border-box;
    margin-bottom: 20px;
    
    &::after {
      position: absolute;
      content: "";
      width: 68px;
      height: 50px;
      top: 0;
      right: 0;
      background-image: url("../img/quote_right.png");
      background-repeat: no-repeat;
    }
    
    h3 {
      font-size: 24px;
      line-height: 20px;
      font-weight: 600;
      margin-bottom: 5px;
    }
    
    > span {
      font-size: 14px;
      line-height: 20px;
      color: #263238;
      text-transform: uppercase;
    }
  }
  
  p {
    @include text;
    line-height: 27px;
    padding-bottom: 20px;
    border-bottom: 2px solid #efefef;
    margin-bottom: 20px;
  }
}

.stars {
  
  span {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    
    &::before {
      position: absolute;
      content: "";
      width: 15px;
      height: 15px;
      background-position: center;
    }
  
    &::before {
      background-image: url("../img/star.png");
    }
  }
  
  .gray-star::before {
    background-image: url("../img/gray-star.png");
    }
  
  .half-star::before {
    background-image: url("../img/half-star.png");
  }
}

.subscribe {
  width: 100%;
   height: 100%;
  background-image: url("../img/bg-subscribe.png");
  background-size: 100% 110%;
  
  padding-bottom: 178px;
  
  h2 {
    @include title;
    text-align: center;
  }
  
  p {
    @extend .paragraph;
    text-align: center;
    max-width: 980px;
    margin: 35px auto 57px auto;
  }
  
  form {
    max-width: 930px;
    margin: 0 auto;
    
    @media screen and (max-width: 970px) {
      text-align: center;
      
     input[type="email"] {
      margin-bottom: 15px;
      margin-right: 0px;      
     }
    }
  }
  
   
  
  input[type="email"] {
    box-sizing: border-box;
    vertical-align: top;
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    width: 68.333333333333%;
    height: 67px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    margin-right: 33px;
    border-style: none;
    border: 1px solid #c2defe;
    box-shadow: 7px 7px 51px 26px rgba(194, 222, 254, 0.7);
    outline-style: none;
    
    &:focus {
     border: 1px solid #17b2e5;
    }
  }
  
  button[type="submit"] {
    box-sizing: border-box;
    height: 67px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 900;
    padding: 15px 90px;
    text-transform: uppercase;
    background-color: #17b2e5;
    color: #fff;
    border-style: none;
    outline-style: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 7px 7px 35px 7px rgba(23, 178, 229, 0.4);
  }
}

footer {
  background-color: #e0eefe;
  
  .wrapper {
    border-top: 1px solid #263238;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 65px;
    
    @media screen and (max-width: 745px) {
      justify-content: center;
      padding-bottom: 25px;
      text-align: center;
      
      p {
        margin-bottom: 15px;
      }
      
      ul {
        display: block;
      }
      
      li:last-child {
        margin-right: 0;
      }
    }
  }
  
  p {
    font-size: 16px;
    line-height: 27px;
    font-weight: normal;
    color: #263238;
  }
}

.social-link {
  
  ul {
      display: inline-block;
      list-style: none;
      padding: 0;
      margin: 0;
      margin-right: 23px;
      margin-bottom: 20px;
    }
  
  li {
    display: inline-block;
    margin-right: 25px;
    font-size: 16px;
    line-height: 27px;
    font-weight: normal;
    color: #263238;
    
    a:hover {
      text-decoration: underline;
    }
    
    a {
      color: #000;
    }
  }
  
  .social {
    display: inline-block;
    position: relative;
    color: #000;
    width: 19px;
    height: 15px;
    
    &::before {
      content:"";
      position: absolute;
      width: 19px;
      height: 15px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  
  .fb::before {
    background-image: url("../img/facebook.png");
  }
  
  .fb:hover::before{
      background-image: url("../img/facebook-hover.png")
    }
  
  .tw::before {
    background-image: url("../img/twitter1.png");
  }
  
  .tw:hover::before {
    background-image: url("../img/twitter1-hover.png");
  }
} 

@media screen and (max-width: 900px) {
  
}